body {
  margin: 20px;
  width: 400px;
}
body > h1 {
  font-size: 1.2em;
}
body > h1 #new {
  display: none;
}
body > h1:hover #new {
  display: inline;
}
#messages h3 {
  font-size: 1em;
}
#messages h3 span {
  margin: 0 0 0 10px;
  font-size: .7em;
  font-weight: normal;
}
#form {
  display: none;
}
#form div {
  padding: 5px 10px;
}
#form div label {
  clear: both;
  display: block;
  float: left;
}
#form div input,
#form div textarea {
  margin: 0 0 0 80px;
  padding: 2px;
}

#more {
  padding: 0 50px;
}
#more a {
  display: block;
  width: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
  border: 1px solid;
  border-color: #ddd #bbb #aaa #ccc;
  padding: 5px;
}